<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bookshelf.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
    minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    
</head>
<body>
    <div class="navbar">
    
        <img src="/static/images/navbar.png" alt="Navigation Bar Image" width="560" height="50" class="navbarimg">
        
    </div>
    
    <div class="chatbox">
    <div class="bookshelf">
        <img src="/static/images/home.png" alt="home Image" width="500" height="300" class="homeimg">
        
        <div class="overlay"></div>
        
    </div>
        <div class="chat-form">
            
        </div>
    
    </div>

<script>
    $('.overlay').click(function() {
        window.location.href = '/chat'; 
    });
</script>
</body>
</html>
